*::-webkit-scrollbar {
  display: none;
  width: 0; }

#root {
  display: grid;
  grid-template-columns: 1fr 0 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../img/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  transition: .2s; }
  @media (min-width: 900px) {
    #root {
      padding: 2em 2em; } }

#mainarea {
  margin-top: 1em;
  margin-bottom: 6em; }

@media (min-width: 900px) {
  .mobile {
    display: none; } }

@media (max-width: 599px) {
  .non-mobile {
    display: none; } }
